<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
  <test name="SeleniumTestNG" >   
  <parameter name ="Message1" value="admin" />
  <groups>
      <run> 
           <include name ="Demo"/>
      </run>  
  </groups>
       <classes> 
          <class name="AutomationFramework.Class1" />
          <class name="AutomationFramework.Class2" />
       </classes>
 </test>
 </suite>
 
 
 	
